# Combining DataFrames in Pandas
---

In today's project, we're going to look at nutritional information from several chain restaurants. The problem is our data is split up into several CSVs. We'll need to combine them into one dataframe, which is a very important skillset as a data scientist.

In [2]:
import pandas as pd

## Concatenation: Setup

1. Create two dataframes from **foods-a.csv** and ** foods-b.csv**. 
2. For each dataframe, set the index to be the `id` column.

In [4]:
foods_a = pd.read_csv('foods-a.csv')
foods_b = pd.read_csv('foods-b.csv')
# to make indicies right when loading, try:
# foods_a = pd.read_csv('foods-a.csv', index_col='id')

# foods_a.count()
# or
foods_a.shape

foods_a.set_index('id', inplace=True)
foods_b.set_index('id', inplace=True)

## Concatenating along the row axis

It's not enough to merely combine two dataframes, we have to specify whether we want them to be combined along the row axis (**axis=0**) or column axis (**axis=1**). Since our two dataframes have the same column of data, we'll want to combine them along the row axis.

Using pandas' [concat](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html) method, combine our two food dataframes into one:

In [6]:
# order of arguments determines order of concat'd output
allfoods = pd.concat([foods_a, foods_b])

Compare the shape of your combined dataframe to the shapes of the original two dataframes.

In [10]:
allfoods.shape[0] == foods_a.shape[0] + foods_b.shape[0]

True

## Concatenating along the column axis

Now that we have our dataframe, let's add some nutritional information. 

1. Create a dataframe from **nutrition.csv**
2. Set your index to be the id column, so that our nutrition index matches our food names index

In [12]:
nutrition = pd.read_csv('nutrition.csv', index_col='id')
nutrition.head()

    calories  carbs  fat
id
1          0    0.0    0
2          0    0.0    0
3          0    0.0    0
4          0    0.0    0
5          0    0.0    0

Now that our two dataframes have the same index, we can concanate them into one dataframe along the column axis:

In [19]:
food_nutr = pd.concat([allfoods, nutrition], axis=1)
food_nutr.head()

                   name  calories  carbs  fat
id
1   A&W® Diet Root Beer         0    0.0    0
2   A&W® Diet Root Beer         0    0.0    0
3   A&W® Diet Root Beer         0    0.0    0
4   A&W® Diet Root Beer         0    0.0    0
5   A&W® Diet Root Beer         0    0.0    0

# Joining

There are several ways to join two or more data frames. Here's an image to illustrate each possibility:

![](Joins.png)

## Joining practice

Load **foods.csv** into a dataframe.

In [30]:
foods = pd.read_csv('foods.csv')
foods.isnull().sum()
foods.query('category_id != category_id')
# or
# null_cats = foods['category_id'].isnull()
# foods.loc[null_categories, ['name, 'category_id']]
# or
# foods[foods['category_id'].isnull()]

        id          name  calories  carbs  fat  restaurant_id  category_id
4061  4062  Qkidz Cookie       190   26.0    9             37          NaN

You'll notice it's the same as the one we concatenated above, with a couple of extra columns: restaurant_id and category_id. These columns correspond to the `id` columns in **categories.csv** and **restaurants.csv**

Load **categories.csv** and **restaurants.csv** into dataframes.

In [44]:
cats = pd.read_csv('categories.csv')
rests = pd.read_csv('restaurants.csv')
cats.head()

   id      name
0   1    Drinks
1   2    Shakes
2   3     Sides
3   4  Desserts
4   5   Entrees

Using pandas [merge](http://pandas.pydata.org/pandas-docs/stable/merging.html) method, inner join **restaurants** with **foods**.

In [46]:
df = pd.merge(foods, rests, left_on='restaurant_id', right_on='id')
df.drop(columns='id_y', inplace=True)
# or
# df.drop('id_y', axis=1, inplace=True)

In [49]:
df.rename(columns={'id_x':'id', 'name_x':'food' , 'name_y':'restaurant'}, inplace=True)

Now combine **categories** with **foods**, keep in mind that _one of the foods does not belong to a category_.

In [60]:
cats.rename(columns={'id':'category_id', 'name':'category'}, inplace=True)

In [63]:
df = pd.merge(df, cats, on='category_id')

In [67]:
df.drop(columns=['category_id', 'restaurant_id'], inplace=True)
# or
#df.drop(['category_id', 'restaurant_id'], axis=1, inplace=True)

In [79]:
df['carbs'].fillna(df['carbs'].mean(), inplace=True)

0

In [ ]:
pd.get_dummies(df, columns=['restaurant', 'category'], drop_first=True)

# Review
---

What are the differences between joining and concatenating?

When would we use one or the other?

In [ ]:
concat when sizes on rows or columns are equal, merge/join when not